//variables
$color-blue: #005fab;
$color-white: #fff;
$color-orange: #f0690a;

* {
  box-sizing: border-box;
}

body {
  font-family: Catamaran;
  margin: 0;
  padding: 0;
  background-color: $color-white;
}

.btn {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border: 2px solid $color-orange;
  width: 100%;
}